<a href="https://colab.research.google.com/github/yogeshsinghgit/Pwskills_Assignment/blob/main/Assignment__2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PWSkills Data Science Masters

Assignment 2 (Submitted By Yogesh Singh)

## Q1. How do you comment code in Python? What are the different types of comments?

A comment is a piece of code in a program which is not executed by the interpreter and can be used to  guide the programmer or user about  a function or piece of code.

There are two types of commment

1. single line (using # )
2. multiline (using """ """ or '''   ''')

In [3]:
def add(x, y): # single line comment
    '''The above function will return x+y
    (This is a multiline comment.)'''
    return x+y

## Q2. What are variables in Python? How do you declare and assign values to variables?

A variable is a container which holds/stores different different data items so we can access them later.

it improves flexibility in programming.

In [4]:
# variable var1 stores "Hello World"
var1 = "Hello World"

print(var1)

Hello World

## Q3. How do you convert one data type to another in Python?

data types means the type of data which our variable is storing, it can be Interger type of data, floating or a string data type.

to convert a datatype to another we can using in-built different functions and they are.

1. int() : converts the type of data to integer.
2. float() : converts the type of data to floating type.
3. str() : converts the type of data to string.

In [9]:
var_float = 123.5 # floating datatype

var_string = str(var_float) # converts floating datatype of string.
print(type(var_string), var_string)

var_int = int(var_float) # converting string datatype to integer.
print(type(var_int),var_int)

var_float = float(var_string) # converting string datatype back to float
print(type(var_float), var_float)

<class 'str'> 123.5
<class 'int'> 123
<class 'float'> 123.5

## Q4. How do you write and execute a Python script from the command line?

To execute a python script from command line we can use the following command.

file_path> python filename.py

file_path = path where your python script is stored.

write the above command of command line and hit enter, your python script will be executed.

## Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [10]:
my_list = [1, 2, 3, 4, 5]
print(my_list)

sub_list = my_list[1:3] # ListName[lowerbound : upperbound]
# Note: it will exclude the upperbound value and include the lowe bound value.

print(sub_list)

[1, 2, 3, 4, 5]
[2, 3]

## Q6. What is a complex number in mathematics, and how is it represented in Python?

A complex number is a number that can be written in the form
a+bi,
where a and b are real numbers and i is the imaginary unit defined by i^2 = -1.

In [12]:
# representaion of complex number in python.

var_complex = 4 + 5j
# in python we use j insted of i to represent imaginary using in complex number.

print(type(var_complex), var_complex)

<class 'complex'> (4+5j)

## Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume).

**Rules for Python variables:**

1. A variable name must start with a letter or the underscore character.
2. A variable name cannot start with a number
3. A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
4. Variable names are case-sensitive (age, Age and AGE are three different variables)
5. A variable name cannot be any of the Python keywords.

In [13]:
age = 25

print(age)

25

## Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable belong to?

In [14]:
price = 9.99

# the type of variable will be floating type as the data has a decimal in it.
print(type(price))

print("price =  ", price)

<class 'float'>
price =   9.99

## Q9. Create a variable named name and assign your full name to it as a string. How would you print the value of this variable?

In [16]:
name = "Yogesh Singh"

print("My name is", name)

My name is Yogesh Singh

## Q10. Given the string "Hello, World!", extract the substring "World".

In [17]:
my_string = "Hello World!"

sub_str = my_string[6:11]

print(sub_str)

World

## Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are currently a student or not.

In [18]:
is_student = True

print(is_student)

True