# Data Science Masters - Assignment 1


Assignment Submitted By: Yogesh Singh

### Q1. Create one variable containing following type of data:

(i) string

(ii) list

(iii) float

(iv) tuple

In [1]:
var1 = "Yogesh Singh"
print(var1)

var1 = ['A', 'B', 'C']
print(var1)

var1 = 3.14
print(var1)

var1 = (1, 2, 3, 4, 5)
print(var1)

Yogesh Singh
['A', 'B', 'C']
3.14
(1, 2, 3, 4, 5)

## Q2. Given are some following variables containing data:

(i) var1 = ‘ ‘

(ii) var2 = ‘[ DS , ML , Python]’

(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv) var4 = 1.

What will be the data type of the above given variable.

In [2]:
var1 = ''
print(type(var1))

<class 'str'>

In [3]:
var2 = '[ DS , ML , Python]'
print(type(var2))

<class 'str'>

In [4]:
var3 = [ 'DS' , 'ML' , 'Python' ]
print(type(var3))

<class 'list'>

In [5]:
var4 = 1.
print(type(var4))

<class 'float'>

## Q3. Explain the use of the following operators using an example:

(i) /

(ii) %

(iii) //

(iv) **

#### Division Operator ( / )

The division operator is one of the type of airthmetic operator which is used to perform division operation between two operands.

It returns result in floating type.

In [6]:
operand1 = 20
operand2 = 5

result = operand1/operand2
print(result)

4.0

#### Modulo Operator ( % )

modulo operator returns remainder in a division operation.

In [8]:
operand1 = 22
operand2 = 5

result = operand1 % operand2
print(result)

2

#### Integer Division Operator ( // )

When we use single slash (division operator) then it return result in foating type but if we want to get th eresult in interger type format then we canuse ddouble slash instead of using single one.

In [10]:
operand1 = 20
operand2 = 5

result1 = operand1 / operand2
print("Using single slash ",result1)
print("type of result 1 = ",type(result1))

result2 = operand1 // operand2
print("Using Double slash ", result2)
print("type of result 2 = ",type(result2))

Using single slash  4.0
type of result 1 =  <class 'float'>
Using Double slash  4
type of result 2 =  <class 'int'>

### Exponential Operator (**)

Exponent or power operator returns first raised to power second.

In [11]:
num = 5
pow = 2

result = num ** pow # means num^power (5^2 = 25)
print(result)

25

## Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [17]:
mylist = [1, 'A', 'Hello', 3.14, True, 3+7j, (1, 2, 3), 15, False, 22.7]

print("Lenght of List = {}\n ".format(len(mylist)))

for item in mylist:
  print(item, type(item))

Lenght of List = 10

1 <class 'int'>
A <class 'str'>
Hello <class 'str'>
3.14 <class 'float'>
True <class 'bool'>
(3+7j) <class 'complex'>
(1, 2, 3) <class 'tuple'>
15 <class 'int'>
False <class 'bool'>
22.7 <class 'float'>

## Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [24]:
num_a = int(input("Enter Numerator : "))
num_b = int(input("Enter Denominator : "))
rem = num_a
count = 0

while 1:
  rem = rem - num_b
  count +=1
  if rem < num_b:
    break

if rem == 0:
    print("{} is divisible by {} in total {} steps".format(num_a, num_b, count))

elif rem < num_b:
    print("{} is not divisible by {}".format(num_a, num_b))

Enter Numerator : 23
Enter Denominator : 5
23 is not divisible by 5

## Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [30]:
mylist = list(range(1, 26))

for item in mylist:
  if item % 3 == 0:
    print('{} is divisible by 3'.format(item))
  else:
    print('{} is not divisible by 3'.format(item))

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

## Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

### Mutable Datatype:
A data type which elements values can be eddited, which means we can do any changes in terms of adding, removing, replacing with the help of index value.

In [32]:
my_list = [1, 2, 3, 4, 5]

print(my_list)

my_list[2] =  39

print(my_list)

[1, 2, 3, 4, 5]
[1, 2, 39, 4, 5]

### Immutable Datatype:

A data type which element values cannot be eddited, which means we cannot do any changes in terms of adding, removing, replacing with the help of index value.

In [35]:
my_tuple = (1, 2, 3, 4, 5)

print(my_tuple)

my_tuple[2] = 39

print(my_tuple)

(1, 2, 3, 4, 5)

TypeError: ignored