<a href="https://colab.research.google.com/github/yogeshsinghgit/Pwskills_Assignment/blob/main/Pandas_basic_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas basic Assignment

## Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [2]:
import pandas as pd

ser = pd.Series([4, 8, 16, 16, 23, 42])

print(ser)
print(type(ser))

0     4
1     8
2    16
3    16
4    23
5    42
dtype: int64
<class 'pandas.core.series.Series'>

## Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [3]:
my_list = ["A", "B", "C", "D", "E", "F", "G", "H", "I", "J"]

ser2 = pd.Series(my_list)

print(ser2)
print(type(ser2))

0    A
1    B
2    C
3    D
4    E
5    F
6    G
7    H
8    I
9    J
dtype: object
<class 'pandas.core.series.Series'>

## Q3. Create a Pandas DataFrame that contains the following data:
![image.png]()

Then, print the DataFrame.

In [5]:
df = pd.DataFrame(data = {"Name": ['Alice', 'Bob', 'Claire'],
                          "Age": [25, 30, 27],
                          "Gender": ['Female', 'Male', 'Female']})

df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

## Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

Pandas DataFrame is a 2 Dimensional Data Structure which stores tabular data (row X column) whereas a series stores 1-Dimensional data.

Each column in a Dataframe is a series.

## Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

**Common Functions to manipulate the data in a pandas dataframe**

1. Head(N): The head() function returns N number of records from the top of the data frame, Default N= 5, which means it will return 5 records by default.

2. Tail(N): Same as the head() function but it will return records from the bottom of the data frame.

3. dtypes: this attribute return the datatype of a each column in a dataframe.

4. info(): returns a basic overview of each columns in dataframe like number of null values, datatype, shape of dataframe.

5. describe(): return the statistical information of each numerical column present in the data frame.

## Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In pandas, Series and DataFrame are mutable, meaning you can modify their contents after creation.

- **Series**: A one-dimensional labeled array. Elements can be changed, added, or removed.

- **DataFrame**: A two-dimensional labeled data structure with columns that can be of different types. You can modify values, add or remove columns, and perform various operations on the DataFrame.

- **Panel**: Is used to represent multi-dimensional data but multi-dimensional data is typically handled using MultiIndex DataFrames. However, if you are referring to Panel in an older version of pandas, it is also mutable.

## Q7. Create a DataFrame using multiple Series. Explain with an example.

In [6]:
import pandas as pd

# Creating Series
name_series = pd.Series(['Alice', 'Bob', 'Charlie'], name='Name')
age_series = pd.Series([25, 30, 35], name='Age')
city_series = pd.Series(['New York', 'San Francisco', 'Los Angeles'], name='City')

# Creating DataFrame using the Series
data = {'Name': name_series, 'Age': age_series, 'City': city_series}
df = pd.DataFrame(data)

# Displaying the DataFrame
print(df)

      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles