<a href="https://colab.research.google.com/github/yogeshsinghgit/Pwskills_Assignment/blob/main/Python_Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Function Assignment 2


**Submitted by: Yogesh Singh**

## Q1. Create a python program to sort the given list of tuples based on integer value using a lambda function.

If you want to sort a list of tuples by a given element, you can use the sort() method and specify a lambda function as a key. Unfortunately, Python does not allow you to specify the index of the sorting element directly. Instead, a function must be defined inside the key parameter, which helps the sort() method identify which index to choose. The lambda function allows you to specify a custom comparator function in the sort() method.

Rerference: https://learnpython.com/blog/sort-tuples-in-python/

In [8]:
my_tuple_list = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

my_tuple_list.sort(key=lambda a: a[1])

print(my_tuple_list)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

## Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using lambda and map functions.

## [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

The map function is used when we want to execute a function for each item n a iterable.

syntax:  `result = map(function, iterable)`

In [12]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

squared_list = map(lambda x : x**2, my_list)

print(list(squared_list))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and lambda functions

## Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
## Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [13]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

string_list = map(lambda x: str(x), my_list)

print(list(string_list))

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

## Q4. Write a python program using reduce function to compute the product of a list containing numbers from 1 to 25.

In [14]:
from functools import reduce

my_list = list(range(1, 26))

print(my_list)

product = reduce(lambda x,y : x*y, my_list)
print(product)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]
15511210043330985984000000

## Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the filter function. [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [16]:
my_list = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

div_nums = filter(lambda x : x%2==0 and x%3==0, my_list)

print(list(div_nums))

[6, 60, 90, 120]

## Q6. Write a python program to find palindromes in the given list of strings using lambda and filter function.

## ['python', 'php', 'aba', 'radar', 'level']

In [18]:
my_list = ['python', 'php', 'aba', 'radar', 'level']
print(my_list)

palindrome_items = list(filter(lambda x : x == x[::-1], my_list))
print(palindrome_items)

['python', 'php', 'aba', 'radar', 'level']
['php', 'aba', 'radar', 'level']